
@{
    ViewBag.Title = "Anasayfa";
}
<br />
@*<h2> <strong>  Hoş Geldiniz </strong></h2>*@

<br />
<div style="width:auto;" id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>

    <!-- Slider İç Resimleri -->
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/Content/images/metro.png" alt="Metro">
            <div class="carousel-caption">
            </div>
        </div>
        <div class="item" style="height:500px">
            <img src="~/Content/images/kütüphane.jpg" alt="Kütüphane">
            <div class="carousel-caption">
            </div>
        </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Önceki</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Sonraki</span>
    </a>
</div>