@model List<LibraryMVC.Models.Odunc>
@{
    ViewBag.Title = "OduncListele";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Kitap Ödünç Durumları</h2>
<table class="table table-striped">

    <thead>
        <tr>
            <th>Kitap Adı</th>
            <th>Ödünç Alan Kişi</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Kitap.KitapAdi</td>
                <td>@item.Uye.UyeAdi @item.Uye.UyeSoyadi</td>
                <td>@Html.ActionLink("İade Et", "KitapIade", new { id = item.Id }, new { @class = "btn btn-success" })</td>
            </tr>
        }

    </tbody>
</table>

