
@{
    ViewBag.Title = "OduncVer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Ödünç Ver</h2>

<br />
<br />

@using (Html.BeginForm("OduncVer", "Odunc", FormMethod.Post))
{

    <div class="row">
        <div class="col-xs-12 col-md-8">
            <label for="inputEmail3" class="control-label col-md-3">Sicil Numarası Giriniz: </label>
            <div class="col-md-9">
                @Html.TextBox("SicilNo", null, new { @class = "form-control" })
                <input type="date" min="@DateTime.Now.ToString("yyyy-MM-dd")" name="teslimedilecektarih" required />
            </div>
        </div>
        <div class="col-xs-6 col-md-4">
            <button type="submit" class="btn btn-default">Kitabı Ödünç Ver</button>
        </div>

    </div>

}





