@model LibraryMVC.Models.YetkiliGiris
@{
    ViewBag.Title = "Giris";
    Layout = null;
}

<h2>@Model</h2>

@using (Html.BeginForm("Giris", "Kutuphane", FormMethod.Post))
{
    <form>
        <div class="form-group">
            <label for="exampleInputEmail1">Sicil Numarası</label>
            <input type="text" class="form-control" name="SicilNo" aria-describecontexty="emailHelp" placeholder="Sicil Numarası">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Şifre</label>
            <input type="password" class="form-control" name="sifre" placeholder="Şifre">
        </div>
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Beni Hatırla</label>
        </div>
        <button type="submit" class="btn btn-primary">Giriş Yap</button>
    </form>
}


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Kütüphane Uygulaması</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <scr src="~/Scripts/modernizr-2.8.3.js"></scr>
    <style>
        body {
            margin: auto;
            width: 50%;
            height: 50%;
            margin-top: 50px;
            margin-right: 160px;
        }
    </style>
</head>

<body>
    <div>
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            </div>
            <div class="navbar-collapse collapse">


            </div>
        </div>
    </div>
    <div class="container body-content">
        <div class="row">
            <div class="col-md-12">

            </div>
        </div>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>
